.Img {
  display: flex;
  height: 3rem;
  size: 1rem;
}

.ant-layout-header.main-header {
  background-color: rgb(43, 41, 41);
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-btn.main-btn {
  background-color: rgb(48, 149, 48);
  color: black;
  display: flex;
  font-size: 1.1rem;
  padding: 0rem 1.2rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.main-btn-holder {
  display: flex;
  gap: 0.8rem;
}

.ant-btn.log {
  background-color: rgb(132, 131, 131);
  color: white;
}

.ant-btn.main-btn:active,
.ant-btn.main-btn:hover {
  background-color: rgb(48, 126, 48);
  color: white;
}

.ant-btn.log:active,
.ant-btn.log:hover {
  background-color: rgb(145, 144, 144);
}
